extends base

block content
  style.
    .error-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 70vh;
      text-align: center;
      color: #d9534f; 
    }

    .error-title {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    .error-message {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .back-home {
      color: #0275d8; 
      text-decoration: none;
    }

  .error-container
    h1.error-title #{title}
    p.error-message #{msg}
    a.back-home(href="/") Back to Home
